<md-toolbar layout-padding>
  <h3>Venues</h3>
</md-toolbar>
<div layout="column" layout-align="center center" layout-fill>
  <h1>New Venue</h1>
  <form name="venueForm" role="form" ng-submit="addVenue()" novalidate>
    <div class="form-group">
      <md-text-float label="Venue Name" name="name" ng-model="newVenue.name" ng-minlength="3" ng-maxlength="64" ng-required="true"></md-text-float>
      <p ng-show="venueForm.name.$error.minlength" class="help-block">Venue name is too short.</p>
      <p ng-show="venueForm.name.$error.maxlength" class="help-block">Venue name is too long.</p>
    </div>
    <div class="form-group">
      <md-text-float label="Venue ID" ng-model="newVenue.id" name="id" ng-minlength="1" ng-required="true"></md-text-float>
      <p ng-show="venueForm.id.$error.minlength" class="help-block" ng-minlength="1" >No ID present.</p>
    </div>
    <md-button class="md-raised md-primary" type="submit" ng-disabled="venueForm.$invalid">Submit</md-button>
  </form>
</div>