<h1>New Venue</h1>
<form name="venueForm" role="form" ng-submit="addVenue()" novalidate>
  <div class="form-group">
    <label>Venue Name</label>
    <input class="form-control" type="text" name="name" ng-model="newVenue.name" ng-minlength="3" ng-maxlength="64" ng-required="true"/>
    <p ng-show="venueForm.name.$error.minlength" class="help-block">Venue name is too short.</p>
    <p ng-show="venueForm.name.$error.maxlength" class="help-block">Venue name is too long.</p>
  </div>
  <div class="form-group">
    <label>ID</label>
    <input class="form-control" type="text" name="id" ng-model="newVenue.id" ng-required="true"/>
    <p ng-show="venueForm.id.$error.minlength" class="help-block" ng-minlength="1" >No ID present.</p>
  </div>
  <input class="btn btn-success" type="submit" ng-disabled="venueForm.$invalid">
</form>